@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --clr-white: #fff;
  --clr-primary: #282c34;
  --clr-black: #222;
  --clr-dark-grey: #7f8b8f;
  --ff-primary: "Open Sans", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5vw;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --margin: 0.5rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.App {
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 15vh;
  font-size: 3vh;
  color: white;
}

.App-header h1 {
  text-align: center;
  margin: auto 0;
}
header nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  color: var(--clr-white);
  font-size: large;
}
.nav-link:visited {
  color: var(--clr-white);
}
main {
  width: 100%;
  margin: 0 auto;
}

nav.categories {
  display: flex;
  margin: 0px;
}

button {
  background-color: white;
  color: var(--clr-primary);
  height: 3.5rem;
  width: 10rem;
  font-size: 0.85rem;
  margin-left: 0.5rem;
  border: solid 2px var(--clr-primary);
  border-bottom-left-radius: var(--radius);
}
button.clicked {
  background-color: var(--clr-primary);
  color: white;
}

button:hover {
  background-color: var(--clr-dark-grey);
  box-shadow: var(--light-shadow);
  color: white;
}

.container {
  max-width: 100%;
  margin: 2vh auto;
  padding: 1vw 1vh;
  align-items: center;
}

.card {
  width: 400px;
  height: 400px;
  margin-bottom: 2vh;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid var(--clr-dark-grey) 1px;
}

.card img {
  max-width: 80%;
  max-height: 70%;
}

.product-link {
  margin-top: 5%;
  margin-bottom: 5%;
}

.fav-icon {
  width: 25px;
  margin-top: 2%;
  margin-left: 80%;
  cursor: pointer;
}

.product-detail {
  margin-top: 2vh;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.product-detail img {
  max-width: 80%;
  margin-top: var(--margin);
}

.description {
  max-width: 80%;
}

.text-center {
  text-align: center;
}

.loading {
  font-size: 2rem;
}

@media only screen and (min-width: 600px) {
  .App-header {
    height: 10vh;
    justify-content: space-between;
  }

  .App-header h1 {
    text-align: left;
    margin-left: 1%;
  }
  header nav {
    width: 20%;
  }
  main nav {
    margin: 0 2vw;
  }

  .product-detail img {
    max-width: 40%;
  }
  .description {
    max-width: 40%;
    margin-right: 5%;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--clr-dark-grey);
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
